.step {
  width: 650px;
  background-color: antiquewhite;
  margin: 0 0 50px 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 30px 0 30px 0;
}
.header {
  /* background-color: aqua; */
  color: black;
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-bottom: 50px;
}
.contanier {
  width: 100%;
  height: 100vh;
  margin: 0 0 50px 0;
  position: relative;
  /* padding: 10px 30px; */
}
.num {
  font-size: 45px;
  width: 50px;
  height: 50px;
  /* background-color: teal; */
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  text-align: center;
  margin-bottom: 30px;
}
.button {
  display: flex;
  justify-content: space-around;
}
.btn {
  font-size: 25px;
  border-radius: 10px 0 10px 0;
  /* border: none; */
}
.active {
  background-color: orange;
}
.inactive {
  background-color: teal;
}
